
include ../blocks/scripts/scripts

include ../blocks/header/header
include ../blocks/footer/footer

doctype html
html(lang='ru')
  include ../blocks/head/head
  include ../blocks/books/books
  body
    main
     +header()

     +books()

    +footer()
    block scripts
    +scripts(['build.js'])
