.books
  display: flex
  flex-direction: column

  h2
    text-align center

  +above(800px)
    flex-direction: row

  &__form
    padding 0 1em
    +above(800px)
      width 40%

  &__list
    margin 0
    padding 0
    list-style none

  &__list-item
    display: flex
    flex-direction: column

    +above(500px)
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      align-items: center

  &__info
    margin-bottom 1em

  &__author
    display block
    font-weight: 700

.books-container
  padding 0 1em 0 2em
  +above(800px)
    width 60%
