mixin books()
  .container
    .books
      .books__form
        h2 Добавить книгу
        form.add-book-form
          .form-group
            label.form-label(for="author") Автор
            input.form-control(type="text" name="author" id="author")
          .form-group
            label.form-label(for="title") Название
            input.form-control(type="text" name="title" id="title")
          .form-group
            label.form-label(form="year") Год издания
            input.form-control(type="text" name="year" id="year")
          .form-group
            label.form-label(for="count") Количество страниц
            input.form-control(type="text" name="count" id="count")
          .form-group
            button#submit.btn(data-action="create") Добавить
            button#resetButton.btn.is-hidden(type="button") Отменить
      .books-container
        h2 Список книг
        ul.books__list
          li.books__list-item
            .books__info
              span.books__author Автор
              | Название книги длинное и трудное
            .books__edit
              button.btn.btn--edit(type="button") Редактировать
              button.btn.btn--remove(type="button") Удалить
