html
  box-sizing border-box

*,
*:before,
*:after
  box-sizing inherit

:disabled, [disabled], [aria-disabled="true"]
  cursor not-allowed

.clearfix:after
    content ""
    display block
    clear both

.svg-sprite
  display none

body
  font-family: 'Open Sans', sans-serif
  line-height 1.4

.container
  max-width: 1000px
  margin 0 auto
  padding 0 20px

.btn
  display inline-block
  margin-bottom 1em
  outline none
  appearance none
  padding 1em 1.5em
  font-size: 0.8rem
  border-radius: 3px
  border 1px solid blue
  background transparent
  transition all 0.3s ease-in-out

  &:hover
    background blue
    color white

  &--icon
    border: none
    padding 0
    font-size: 1.3rem

    .fa
      pointer-events: none

    &:hover
      background transparent
      color blue

.form-group
  margin-bottom 1em
  position relative

.form-label
  display block
  margin-bottom 0.5em

.form-control
  width 100%
  padding 0.5em 1em
  outline none
  appearance none
  border 1px solid grey
  border-radius 3px

.is-hidden
  opacity 0
  pointer-events: none

.is-visible
  opacity 1
  pointer-events: auto
